
section.menu{
    background:$color-light-grey;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    margin-top: -50px;
    position: relative;
  }
  .titre{
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
    font-family: $font-stack2-titre;
    font-size: 28px;
  h2{
    width: 90%;
    font-size: 28px;
  }}
  .heart-menu{
    width: 30%;
    padding-top: 45px;
    font-size: xx-large;
  }

 