img.logo-menu {
    height: 30px;
    width: 60%;
    margin-right: 100px;
    margin-top: 10px;
  }

section.menu{
    height: 1200px;
    background:$color-light-grey;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    margin-top: -30%;
    position: relative;
  }
  button.gradient.menu{
    margin-bottom: 35px;
  }