img.logo-menu {
    height: 30px;
    width: 60%;
    margin-right: 100px;  
    margin-top: 10px;
  }
  i.fa-solid.fa-arrow-left{
    margin-right: 50px;
    font-size: 20px;
   }

.h1-resto{
  width: 90%;
}
img.menu{
width: 100%;
object-fit: cover;
height: 275px;

}
a.header {
  color:$color-black;
  padding: 20px;
  width: 15%;
  display: flex;
  text-decoration: none;
}

h2.menu{
  font-family:$font-stack2-titre;
  font-size: 28px;
  margin-left: 20px;
  padding-top: 25px;
  font-weight: 100;
}
h3.menu{
  margin: 15px;
  font-weight: 100;
  border-bottom:solid 3px $color-tertiaire;
  width: 12%;
  padding-bottom: 5px;
}
  
