
section.menu{
    background:$color-light-grey;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    margin: -50px auto 0 auto ;
    position: relative;
  }
  .titre{
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
    font-family: $font-stack2-titre;
    font-size: 28px;
  h2{
    width: 90%;
    font-size: 28px;
    display: flex;
    justify-content: center;
  }}
  .heart-menu{
    position: absolute;
    top: 50px;
    font-size: x-large;
  }

 