.choix{
    color: transparent;
    width: 10px;
  &:hover{
    background: $color-tertiaire;
    width: 17%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    color:$color-white;
    align-items: center;
    font-size: 20px;
    margin-left: 10px;
    transition: all 1s;
    cursor: pointer;
  }
   }
  .fa-circle-check:before {
    content: "\f058";
    margin-left: 15px;
       }
  