
.heart{
  display:flex;
  position: relative;
  justify-content: end;
  font-size: 25px ; 
  bottom: 52px;
  right: 30px;

  }
  i.fas.fa-heart,i.far.fa-heart{
    position:absolute;
  }
  i.fas.fa-heart{
    cursor: pointer;
    opacity: 0;
    color: transparent;
   background:linear-gradient(#ff79da,#9356dc) ;
   background-clip: text;

  }
 input[type="checkbox"]{
  position: absolute;
  opacity: 0;
  height: 40px; 
  width: 40px;
  z-index: 3;
  cursor: pointer; 
  &:checked{
    opacity:0;
    z-index: 0; }
      &:checked~i.far.fa-heart{
    opacity: 0;
    z-index:4;
  }
&:checked~i.fas.fa-heart{
  background: linear-gradient($color-btn-heart);
  background-clip: text;
  transition-property: all;
  transition-duration:5s ;
  transition-delay:0.5s;
  opacity: 1;
}
}