
.heart{
    display: flex;
    width: 35%;
    justify-content: center;
    margin-left: 20px;
    font-size: 20px ; 
    padding-top: 25px;
    }
      input[type="checkbox"] {
        cursor: pointer;
        position: absolute;
        opacity: 0;
        display: flex;
        z-index: 4;
        height: 30px; 
        width: 30px;
        margin-left: 0;
        margin-top: 0;}
        .far{
            position:absolute;
            color:red;   
            opacity: 1;
             z-index:4;
                  }
         .far:checked{
            opacity:0;
            transition: 1s;
         }         
        .fas {
            cursor: pointer;
            position: absolute;
            background: linear-gradient($color-btn-heart) ;   
            opacity: 0;
            z-index: 4;
            transition-property: all;
            transition-duration:2s ;
            transition-delay: 1s;
        
        }
        &~:hover{
        background:linear-gradient($color-btn-heart) ;
        background-clip: text; 
        opacity: 1;
        transition-property: all;
        transition: 5s;
        
         }
        
                