.searchBar{
    background:$color-light-grey;
    text-align: center;
    height: 50px;
    box-shadow:$color-grey 3px 1px 3px 1px ;
        }
   .fa-location-dot:before{
   padding-left: 45px;
        }