@media  (min-width:1200px) {
h2{
  margin-left: 20px;
}
  
  
  header{
    
      display:inherit;
    }
   h1{
    margin-top: 30px;
    width: 100%;
   }
    .logo-img {
        height: 20px;
        width: 20%;
    }
    .explorer h2{
      width: inherit;
    }
    .explorer p{
    width: inherit;
    }
    /*FONCTIONNEMENT*/
    section.Fonctionnement {
     height: inherit;
    }
    div.Fonctionnement{
    display: flex;
  }

/*RESTAURANT*/
.Restaurant{
  display: inherit;
}
  .wrap {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10%;
    flex-direction: inherit;
    justify-content: center;
    margin-top: 28px;
}

.card{
  flex-wrap:wrap-reverse;
  width: 490px;
  height: 251px;
}/*FOOTER*/


footer{
  display: flex;
  flex-direction: row-reverse;
}
h3.logo{
  width: 30%;
  padding-top: 70px;
}

ul{
    flex-direction: row;
    padding-top: 70px;
  }
}