@media  (min-width:1200px) {
    nav   {
    height: 96px;
   }
   h1{
    margin-top: 30px;
    width: 100%;;
   }
    .logo-img {
        height: 20px;
        width: 20%;
    }
   
    section.Fonctionnement{
        height: 228px;
    }
    h2.explorer{
      width: 100%;
    }
    .btn{
      margin-left: 42%;
    }
    div.Fonctionnement {
        display: flex;
}
.card{
  flex-wrap:wrap-reverse;
}
  ul{
    flex-direction: inherit;
  }
}