@media  (min-width:768px) {
h2{
  margin-left: 20px;
  }
  
  
   h1{
    width: 100%;
    text-align: center;
  
   }
    .explorer h2{
      width: inherit;
      font-size: 47px;
      font-weight: 700;
      margin-bottom: 18px;
    }
    .explorer p{
    width: inherit;
    font-size: 18px;
    font-weight: 300;
    }
    /*FONCTIONNEMENT*/

  section.Fonctionnement {
     height: inherit;
    }
  
  h2.Fonctionnement{
    display: flex;
    justify-content: flex-start;
    margin-left: 180px;
  }
    div.Fonctionnement{
    display: flex;


  }

/*RESTAURANT*/
.Restaurant{
  display: inherit;
  
}
h2.Restaurant{
  margin-left: 180px;
}

  .wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: inherit;
    justify-content: space-around;
    margin-top: 28px;
}
.card{
  flex-wrap:wrap-reverse;
  width: 48%;
  height: 251px;
}

/*FOOTER*/

footer{
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  text-align: right;
  height: 114px;
}
h3.logo{
  margin-right: 30px;
}
img.footer{
  height: 22px;
  width: 120px;
  margin-top: 45px;
  margin-right: 20px;
}

ul.footer{
  display: flex;
  flex-direction: row;
  margin-top: 70px;
  margin-right: 70px;
  gap: 20px;
}


 
/*PAGES MENU */
h1.menu{
display: flex;
justify-content: center;}
 section.menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
 }
 .titre{
  width: 100%;
  display: flex;
  justify-content: end;
 }
 .heart-menu.heart{
display: flex;
right: 28%;
 }

 h3.menu{
  margin-right: 45%;
 }
 .card-menu{
  width: 50%;
 }
 button.gradient.menu{
  margin-left: 0;
 }

}


 


