.card {
  display: flex;
  flex-direction:column;
    border-radius: 15px;
    background-color:$color-white;
    margin-top: 0px;

    .badges{
      position: relative;
       }
       .badges::before{
         content:"Nouveau"; 
         background: $color-tertiaire;
         border: 3px solid $color-tertiaire;
         color:$color-green;
         margin-top: 20px;
         display: grid;
         place-items: center;
         width: 80px;
         height: 30px;
         border-radius: 3px;
         position: absolute;
         right: 20px;
   
       }
  .card-img   {  
  display:flex;
  height: 170px;
  border-radius: 15px 15px 0 0;
  width: 100%;
  object-fit: cover;
}
  .card-content{
    display: flex;
    flex-direction: column;
  justify-content: space-between;
  width: 100%;
  }
  a.cards{
    display: flex;
    flex-wrap: wrap;
  }

  h3.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0;
    color:$color-black;
    margin-left: 16px;
  }

 p.card-subtitle {
    font-size: 17px;
    margin-left: 16px;
    margin-top: 0;
    color: $color-black;
}


    p.resto {
      margin-top: 3px;
    }}