.explorer {
  display: flex;
  flex-direction: column;
  background-color: $color-light-grey;
  margin-top: 5px;
  text-align: center;
  align-items: center;
  h2.explorer {
  width: 80%;
  margin-bottom: 10px;
  
}}
.explorer p{
    font-weight: 100;
    font-size: 18px;
    margin-top: 5px;
    width: 323px;


}