.explorer{
  display: flex;
  flex-direction:column;
    background-color:$color-light-grey;
    margin-top: 5px;
    text-align:center;
    align-items: center;

}
   
.explorer h2{

  width: 287px;
  padding-top: 0px;
  
}
.explorer p{
    font-weight: 100;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 0px;
    width: 323px;
}

   