header{
    width: 100%;
  
  }
  h1{
    text-align: center;
    margin: 5px;
    width: 90%;
   }

  nav{
    display: flex;
    height: 63px;
  }
  .logo-img{
    width: 50%;
    padding-top: 14px;

}